<ol class="articles">
<li id="<%= @article.id %>">
  <%= link_to gravatar_for(@article.user), @article.user %>
  <span class="user">
    <%= link_to @article.user.name, @article.user %>
  </span>
  <span class="content"><%= @article.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@article.created_at) %> ago.
     
  </span>
  
  <% if current_user?(@article.user) %>
    <%= link_to "delete", @article, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @article.content %>
  <% end %>
</li>
</ol>
<h2>Comments</h2>
<% if @article.comments.any? %>
<%= render :partial => 'comment', :collection => @article.comments %>
<% end %>
 <%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
   <%= f.hidden_field :article_id %>
   </div>
  <div class="field">
     
    <%= f.text_area(:body, size: '50x10') %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
 
<% end %>
 