<h1>Available Privacy Levels</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @privacy_levels.each do |privacy_level| %>
  <tr>
    <td><%= privacy_level.level %></td>
    <td><%= privacy_level.description %></td>
    <td><%= link_to 'Show', privacy_level %></td>
    <td><%= link_to 'Edit', edit_privacy_level_path(privacy_level) %></td>
    <td><%= link_to 'Destroy', privacy_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privacy level', new_privacy_level_path %>
