<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>
    <ul class="nav nav-tabs">
    	<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
    	<li><a href="#article" data-toggle="tab">Articles</a></li>
    </ul>
    <div class="tab-content">
    	<div class="tab-pane active" id="profile">
    		<% if current_user?(@user) %>
    		<%= link_to "Edit Profile", edit_profile_path(@user.profile.id) %>
    		<% end %>
    		<% if current_user?(@user) || current_user.admin || @user.profile.privacy_level_id == 1 || (@user.profile.privacy_level_id == 2 && current_user.following?(@user)) || current_user.admin %>
	    		<dl class="dl-horizontal">
	    			<dt>Age:</dt>
	    			<dd><%= @user.profile.age %></dd>
	    			<dt>Location:</dt>
	    			<dd><%= @user.profile.location %></dd>
	    			<dt>Website:</dt>
	    			<dd><%= @user.profile.website %></dd>
	    		</dl>
	    		<hr/>
	    		<dl>
	    			<dt>About Me:</dt>
	    			<dd><%= @user.profile.about_me%>
	    				<dl class="dl-horizaontal">
	    					<dt>Interests:</dt>
	    					<dd><%= @user.profile.interests%></dd>
	    					<dt>Motivation:</dt>
	    					<dd><%= @user.profile.motivation%></dd>
						</dl>
	    			</dd>
	    		</dl>
    		<% end %>
    	</div>
    	<div class="tab-pane" id="article">
    		<% if @user.articles.any? %>
		      <h3>Articles (<%= @user.articles.count %>)</h3>
		      <ol class="microposts">
		        <%= render @articles %>
		      </ol>
		      <%= will_paginate @articles %>
		    <% else %>
		    	<%if current_user?(@user) %>
		    		You haven't written any articles yet.
	    		<% else %>
		    		This user hasn't written any articles yet.
		    	<% end %>
		    <% end %>
    	</div>
    </div>
  </div>
</div>